# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env*
!.env.example

# Testing
coverage
**/__screenshots__

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# Project specific
_plans
.planning
.worker-tracking

# Next.js
next-env.d.ts

# extension
.output
.wxt

