name: CI

permissions:
  contents: read

on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install
        env:
          HUSKY: "0"

      - name: Check
        run: bun run check

  knip:
    name: Knip
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install
        env:
          HUSKY: "0"

      - name: Check unused
        run: bun run knip
